<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>央视HD</key>
		<array>
			<dict>
				<key>CCTV1综合</key>
				<string>http://112.25.77.147:8080/live/hdcctv01/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV2财经</key>
				<string>http://112.25.77.147:8080/live/cctv-2/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV3综艺</key>
				<string>http://112.25.77.147:8080/live/cctv-3/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV4国际</key>
				<string>http://112.25.77.147:8080/live/cctv-4/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV5体育</key>
				<string>http://112.25.77.147:8080/live/cctv-5/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV6电影</key>
				<string>http://112.25.77.147:8080/live/cctv-6/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV7军事农业</key>
				<string>http://112.25.77.147:8080/live/cctv-7/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV8电视剧</key>
				<string>http://112.25.77.147:8080/live/cctv-8/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV9记录</key>
				<string>http://121.31.30.90:8085/ysten-business/live/cctv-news/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV10科教</key>
				<string>http://112.25.77.147:8080/live/cctv-10/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV11戏曲</key>
				<string>http://112.25.77.147:8080/live/cctv-11/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV12社会与法</key>
				<string>http://112.25.77.147:8080/live/cctv-12/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV13新闻</key>
				<string>http://112.25.77.147:8080/live/cctv-13/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV14少儿</key>
				<string>http://112.25.77.147:8080/live/cctv-14/1.m3u8</string>
			</dict>
			<dict>
				<key>CCTV15音乐</key>
				<string>http://112.25.77.147:8080/live/cctv-15/1.m3u8</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>卫视TV</key>
		<array>
			<dict>
				<key>湖南卫视</key>
				<string>http://121.31.30.90:8085/ysten-business/live/hunanstv/1.m3u8</string>
			</dict>
			<dict>
				<key>江苏城市</key>
				<string>http://112.25.77.147:8080/live/hddongfangstv/1.m3u8</string>
			</dict>
			<dict>
				<key>深圳卫视</key>
				<string>http://121.31.30.90:8085/ysten-business/live/shenzhenstv/1.m3u8</string>
			</dict>
			<dict>
				<key>浙江卫视</key>
				<string>http://112.25.77.147:8080/live/hdzhejiangstv/1.m3u8</string>
			</dict>
			<dict>
				<key>东方卫视</key>
				<string>http://121.31.30.90:8085/ysten-business/live/dongfangstv/1.m3u8</string>
			</dict>
			<dict>
				<key>东南卫视</key>
				<string>http://121.31.30.90:8085/ysten-business/live/dongnanstv/1.m3u8</string>
			</dict>
			<dict>
				<key>凤凰卫视</key>
				<string>http://120.198.235.68/112.50.243.7/PLTV/88888888/224/3221225901/1.m3u8</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
